* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

#company-name {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 10px;
    justify-content: left;
    align-items: center;
    border-bottom: 3px solid #FF1717;
}

#company-name i{
    color: #ff5500;
}

.sign-up-cont {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    margin: 15px;
}

form {
    width: 400px;
    max-width: 400px;
    padding: 1rem;
    margin: 10px;
    height: 400px;
    min-height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sign-up-form h2 {
    font-weight: 300;
}

.group {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 30px;
}

.group-sign-up-text {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.group-sign-up-text .fields {
    width: 100%;
    border-style: none;
    border-bottom: 1px solid black;
}

.group-sign-up-text.success input {
    border-color: #09c372;
}

.group-sign-up-text.error input {
    border-color: #FF1717;
}

.group-sign-up-text .error {
    color: red;
    font-size: 9px;
}

.group-sign-up {
    width: 100%;
    padding: 10px;
}

.continue-btn {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #ff5500;
    border-radius: 5%;
    margin-bottom: 5px;
    cursor: pointer;
}

.continue-btn:hover {
    background-color: #fff;
    color: #ff5500;
}

.forgot-q:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid #FF1717;
    position: relative;
    bottom: 0;
    width: 100%;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
}