<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix Landing Page</title>
        <link rel="stylesheet" href="../Styles/landing.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="company-name">
                <h1>Trackgenix S.A</h1>
                <i class="large material-icons" id="navToggle">format_align_justify</i>
            </div>
        </header>
        <div class="main-container">
            <aside>
                <nav>
                    <p>Menu</p>
                    <ul>
                        <li><a href="www.trackgenix/home">Home</a></li>
                        <li><a href="www.trackgenix/signup">Sign Up</a></li>
                        <li><a href="www.trackgenix/login">Log In</a></li>
                        <li><a href="www.trackgenix/contactinfo">Contact Info</a></li>
                    </ul>
                </nav>
            </aside>
            <main>
                <section id="trackgenix-info">
                    <div class="img-content1">
                        <img src="img/laptop-pic.jpg" alt="laptop-pic">
                    </div>
                    <div class="info-content1">
                        <h2>What is Trackgenix?</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Amet libero ratione laudantium recusandae sunt, pariatur deserunt 
                            reprehenderit id quaerat, eius ipsa sint velit nostrum quo ullam,
                            necessitatibus expedita nisi.
                        </p>
                    </div>
                </section>
                <section id="functionalities">
                    <h2>Functionalities</h2>
                    <div class="func-content2">
                        <div class="function">
                            <div class="icon-f">
                                <i class="tiny material-icons">border_color</i>
                            </div>
                            <div class="func-text">
                                <h3>Hours Log</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, harum!
                                </p>
                            </div>
                        </div>
                        <div class="function">
                            <div class="icon-f">
                                <i class="large material-icons">desktop_mac</i>
                            </div>
                            <div class="func-text">
                                <h3>Resources Management</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, recusandae.
                                </p>
                            </div>
                        </div>
                        <div class="function">
                            <div class="icon-f">
                                <i class="large material-icons">description</i>
                            </div>
                            <div class="func-text">
                                <h3>Reports</h3>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, sunt?
                                </p>
                            </div>
                        </div>
                        <div class="function">
                            <div class="icon-f">
                                <i class="large material-icons">folder_shared</i>
                            </div>
                            <div class="func-text">
                                <h3>Multiple Roles</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, provident.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="why-trackgenix">
                    <div class="why-content3">
                        <div class="img-content3">
                            <img src="img/office-pic.jpg" alt="people-in-an-office">
                        </div>
                        <div class="list-content3">
                            <h2>Why Trackgenix?</h2>
                            <ul>
                                <li>Productivity Booster</li>
                                <li>Work Traceability</li>
                                <li>Leadership and Team management</li>
                                <li>Decision Making</li>
                            </ul>
                            <input class="button" type="button" value="More">
                        </div>
                    </div>
                </section>
                <section id="help">
                    <div class="help-content4">
                        <h2>How can we help you?</h2>
                        <form>
                            <div class="cont-fill">
                                <div class="form-group">
                                    <input type="text" class="fill" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="fill" name="email" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <select id="select-area" required>
                                    <option value="">Select Area</option>
                                    <option value="dog">Human Resources</option>
                                    <option value="cat">System</option>
                                    <option value="hamster">Commercialization</option>
                                </select>
                            </div>
                            <div class="form-group">  
                                <textarea id="message" rows="4" cols="50" placeholder="Enter your message"></textarea>
                            </div> 
                            <div class="button-content4">
                                <input class="dif button" type="button" value="Send Message" >
                                <input class="btn button" type="button" value="Reset">
                            </div>
                        </form>
                    </div>
                </section>
                <Section id="history">
                    <div class="history-img">
                        <h2>Our History</h2>
                        <img src="img/building-pic.jpg" alt="building">
                    </div>
                    <div class="history-info">
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Temporibus, inventore beatae. Vitae eligendi debitis 
                        quibusdam impedit optio hic aliquid illum.
                        </p>
                    </div>
                </Section>
            </main>
        </div>
        <footer>
            <div class="more-info">
                <div class="cont-info">
                    <h2>Products</h2>
                    <ol>
                        <li><a href="http://www.trackgenix/functionalities">Functionalities</a></li>
                        <li><a href="">Downloads</a></li>
                        <li><a href="">Integrations</a></li>
                        <li><a href="">Extras</a></li>
                    </ol>
                </div>
                <div class="cont-info">
                    <h2>Company</h2>
                    <ol>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Clients</a></li>
                        <li><a href="">Resources</a></li>
                        <li><a href="">Blog</a></li>
                    </ol>
                </div>
                <div class="cont-info">
                    <h2>Support</h2>
                    <ol>
                        <li><a href="">Help</a></li>
                        <li><a href="">Tutorials</a></li>
                        <li><a href="">API</a></li>
                        <li><a href="">Contact</a></li>
                    </ol>
                </div>
            </div>
            <div class="copyright">
                <div class="social-media">
                    <a href="http://www.facebook.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/facebook.png"/></a>
                    <a href="http://www.instagram.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v1.png"/></a>
                    <a href="http://www.twitter.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/twitter-squared.png"/></a>
                    <a href="http://www.linkedin.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/linkedin--v1.png"/></a>
                    <a href="http://www.github.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/github.png"/></a>
                </div>
                <div class="rights">
                    <p>
                        Copyright &copy; 2022 Trackgenix. All rights reserved. 
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>