<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="company-name">
                <h1>Trackgenix SA</h1>
                <i class="large material-icons" id="navToggle">format_align_justify</i>
            </div>
        </header>
        <div class="sign-up-cont">
            <div class="modal-sign">
                <h2>
                    Sign In
                </h2>
                <form action="">
                    <div class="group">
                        <button class="incorrect-data-btn">
                            <i class="material-icons">highlight_off</i>
                            Incorrect email or password
                        </button>
                        <div class="group-sign-up">
                            <input type="text" class="fields" name="email" placeholder="Email">
                        </div>
                        <div class="group-sign-up">
                            <input type="text" class="fields" name="password" placeholder="Password">
                        </div> 
                        <div class="group-sign-up">
                            <input type="checkbox" class="fields" name="remember-me" id="remember-me">
                            <label for="check">Remember me</label>
                        </div>
                        <div class="group-sign-up">
                            <button class="forgot-btn">
                                Forgot password?
                            </button>
                        </div>
                    </div>
                    <button class="continue-btn">
                        Continue
                    </button>
                </form>
            </div>
            <footer>
                <div class="copyright">
                    <div class="social-media">
                        <a href="http://www.facebook.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/facebook.png"/></a>
                        <a href="http://www.instagram.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v1.png"/></a>
                        <a href="http://www.twitter.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/twitter-squared.png"/></a>
                        <a href="http://www.linkedin.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/linkedin--v1.png"/></a>
                        <a href="http://www.github.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/github.png"/></a>
                    </div>
                    <div class="rights">
                        <p>
                            Copyright &copy; 2022 Trackgenix. All rights reserved. 
                        </p>
                    </div>
            </footer>
        </div>
    </body>
    </html>