<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../Styles/header.css">
    <link rel="stylesheet" href="../Styles/footer.css">
</head>
<body>
    <header>
        <div class="company-name">
            <h1>Trackgenix SA</h1>
            <i class="large material-icons" id="navToggle">format_align_justify</i>
        </div>
    </header>
    <div class="edit-prof">
        <h2>
            Edit Profile
        </h2>
        <div class="form-cont">
            <form action="">
                <div class="form-group">
                    <label for="">
                        Name
                    </label>
                    <input type="text" name="name" id="">
                </div>
                <div class="form-group">
                    <label for="">
                        Last Name
                    </label>
                    <input type="text" name="last-name" id="">
                </div>
                <div class="form-group">
                    <label for="">
                        Email
                    </label>
                    <input type="text" name="id-num" id="">
                </div>
                <div class="form-group">
                    <label for="">
                        Date of Birth
                    </label>
                    <input type="date" name="date-birth" id="">
                </div>
                <div class="form-group">
                    <label for="">
                        Phone Number
                    </label>
                    <input type="tel" name="phone-num" id="">
                </div>
                <div class="form-group">
                    <label for="">
                        Address
                    </label>
                    <input type="text" name="address" id="">
                </div>
                <div class="form-group">
                    <label for="">
                        Location
                    </label>
                    <input type="text" name="location" id="">
                </div>
                <div class="form-group">
                    <label for="">
                        Zip Code
                    </label>
                    <input type="text" name="zip" id="">
                </div>
                <div class="form-group">
                    <label for="">
                        Email
                    </label>
                    <input type="email" name="email" id="">
                </div>
                <div class="form-group">
                    <label for="">
                        Password
                    </label>
                    <input type="password" name="password" id="">
                </div>
                <div class="form-group">
                    <label for="">
                        Verify Password
                    </label>
                    <input type="password" name="ver-pw" id="">
                </div>
            </form>
        </div>
    </div>
    <footer>
        <div class="copyright">
            <div class="social-media">
                <a href="http://www.facebook.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/facebook.png"/></a>
                <a href="http://www.instagram.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v1.png"/></a>
                <a href="http://www.twitter.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/twitter-squared.png"/></a>
                <a href="http://www.linkedin.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/linkedin--v1.png"/></a>
                <a href="http://www.github.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/github.png"/></a>
            </div>
            <div class="rights">
                <p>
                    Copyright &copy; 2022 Trackgenix. All rights reserved. 
                </p>
            </div>
        </div>
    </footer>
</body>
</html>