<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../Styles/header.css">
    <link rel="stylesheet" href="../Styles/footer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script defer src="../JavaScript/sign-up.js"></script>
</head>
<body>
    <header>
        <div class="company-name">
            <h1>Trackgenix SA</h1>
            <i class="large material-icons" id="navToggle">format_align_justify</i>
        </div>
    </header>
    <div class="edit-prof">
        <h2>
            Edit Profile
        </h2>
        <div class="form-cont">
            <form action="" id="form-input" novalidate>
                <div class="form-group">
                    <label for="name">
                        Name
                    </label>
                    <input type="text" name="first name" id="name" onfocusout="validateFirstName()">
                    <span class="helper-text"></span>
                </div>
                <div class="form-group">
                    <label for="last-name">
                        Last Name
                    </label>
                    <input type="text" name="last name" id="last-name" onfocusout="validateLastName()">
                    <span class="helper-text"></span>
                </div>
                <div class="form-group">
                    <label for="id-number">
                        ID Number
                    </label>
                    <input type="text" name="id-number" id="id-number" onfocusout="validateIdNumber()">
                    <span class="helper-text"></span>
                </div>
                <div class="form-group">
                    <label for="date-birth">
                        Date of Birth
                    </label>
                    <input type="date" name="date-birth" id="date-birth" onfocusout="validateDateBirth()">
                    <span class="helper-text"></span>
                </div>
                <div class="form-group">
                    <label for="phone-num">
                        Phone Number
                    </label>
                    <input type="tel" name="phone-num" id="phone-num" onfocusout="validatePhoneNumber()">
                    <span class="helper-text"></span>
                </div>
                <div class="form-group">
                    <label for="address">
                        Address
                    </label>
                    <input type="text" name="address" id="address" onfocusout="validateAddress()">
                    <span class="helper-text"></span>
                </div>
                <div class="form-group">
                    <label for="location">
                        Location
                    </label>
                    <input type="text" name="location" id="location" onfocusout="validateLocation()">
                    <span class="helper-text"></span>
                </div>
                <div class="form-group">
                    <label for="zip-code">
                        Zip Code
                    </label>
                    <input type="text" name="zip" id="zip-code" onfocusout="validateZipCode()">
                    <span class="helper-text"></span>
                </div>
                <div class="form-group">
                    <label for="email">
                        Email
                    </label>
                    <input type="email" name="email" id="email" onfocusout="validateEmail()">
                    <span class="helper-text"></span>
                </div>
                <div class="form-group">
                    <label for="password">
                        Password
                    </label>
                    <input type="password" name="password" id="password" onfocusout="validatePassword()">
                    <span class="helper-text"></span>
                </div>
                <div class="form-group">
                    <label for="confirm-password">
                        Confirm Password
                    </label>
                    <input type="password" name="con-pw" id="confirm-password" onfocusout="validateConfirmPassword()">
                    <span class="helper-text"></span>
                </div>
                <button class="btn" type="submit" id="btn">
                    Create
                </button>
            </form>
        </div>
        <div class="profile-pic-container">
            <img src="../Assets/user.png" alt="user-pic-profile">
        </div>
    </div>
    <footer>
        <div class="copyright">
            <div class="social-media">
                <a href="http://www.facebook.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/facebook.png"/></a>
                <a href="http://www.instagram.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v1.png"/></a>
                <a href="http://www.twitter.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/twitter-squared.png"/></a>
                <a href="http://www.linkedin.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/linkedin--v1.png"/></a>
                <a href="http://www.github.com/trackgenix"><img src="https://img.icons8.com/material-outlined/24/000000/github.png"/></a>
            </div>
            <div class="rights">
                <p>
                    Copyright &copy; 2022 Trackgenix. All rights reserved. 
                </p>
            </div>
        </div>
    </footer>
</body>
</html>