* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: black;
  }

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
  }

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
  }

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

li {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
  }
  
.button {
    background-color: #fff;
    color: #FF5500;
    border: 1px solid #FF5500;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.button:hover{
    background-color: #FF5500;
    color: #fff;
    border: 1px solid #fff;
}