* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
  }

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
  }

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
  }

section {
    width: 80%;
    float: right;
    box-sizing: border-box;
    position: relative;
    padding: 50px 15px; 
    border-top: 1px solid #aaa;
    margin-bottom: 50px;
}
  
.button {
    background-color: #fff;
    color: #FF5500;
    border: 1px solid #FF5500;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.button:hover{
    background-color: #FF5500;
    color: #fff;
    border: 1px solid #fff;
}

.photo {
    width: 100%;
    max-width: 450px;
}

nav {
    width: 20%;
    box-sizing: border-box;
    float: left;
    clear: left;
    padding: 10px;
    background-color: #aaa;
    position: relative;
    height: 2170px;
}

nav p {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

nav li {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

nav input {
    margin-left: 10px;
    padding: 5px;
    width: 80%;
}

header{
    width: 80%;
    float: right;
    box-sizing: border-box;
    border-bottom: 3px solid #FF5500;
    padding: 20px;
    position: relative;
}

header h1 {
    padding: 10px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 36px;
    position: absolute;
    top: 10px;
    left: 100px;
}

header img {
    float: right;
}

header i {
    color: #FF5500;
}

#trackgenix-info div{
    width: 50%;
    margin: 20px;
    display: inline-block;
    text-align: center;
}

#trackgenix-info div p{
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

#trackgenix-info img{
    float: right;
    position: absolute;
    right: 150px;
    top: 60px;
    height: auto;
    max-width: 350px;
}

#functionalities .function {
    float: left;
    width: 50%;
    margin-top: 80px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.function i{
    position: absolute;
    left: 0;
    top: 15px;
}

.function p {
    position: absolute;
    left: 30px;
    top: 30px;
    margin-left: 10px;
}

.function h3 {
    position: absolute;
    left: 30px;
    top: 0;
    margin-left: 10px;
}

#why-trackgenix div{
    width: 50%;
    text-align: center;
    float: right;
}

#why-trackgenix ul li {
    padding: 10px;
}

#help {
    padding: 20px;
    text-align: left;
}

#help .form-group {
    padding-bottom: 10px;
    margin-top: 10px;
}

#help .form-group .fill, select, textarea {
    padding: 8px;
    width: 100%;
}

#history div {
    width: 50%;
    text-align: center;
    float: right;
    padding: 10px;
}

footer {
    clear: both;
    border-top: 1px solid #aaa;
} 

footer .col-info {
    width: 33%;
    margin: auto;
    display: inline-block;
    text-align: left;
    padding: 20px;
}

footer .col-info {
    padding: 90px;
}

footer #copyright {
    width: 100%;
    margin: auto;
    padding: 10px;
    display: block;
    text-align: center;
    border-top: 3px solid #FF5500;
}