* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: black;
  }

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
  }

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
  }

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

li {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
  }

section {
    width: 80%;
    float: right;
    box-sizing: border-box;
    position: relative;
    padding: 50px 15px; 
    border-top: 1px solid #aaa;
}
  
.button {
    background-color: #fff;
    color: #FF5500;
    border: 1px solid #FF5500;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.button:hover{
    background-color: #FF5500;
    color: #fff;
    border: 1px solid #fff;
}

.photo {
    width: 100%;
    max-width: 350px;
}

nav {
    width: 20%;
    box-sizing: border-box;
    float: left;
    clear: left;
    padding: 10px;
    background-color: #aaa;
    position: relative;
}

nav p {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

nav li {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

nav i {
    color: #FF5500;
    position: absolute;
    right: 10px;
}

nav input {
    margin-left: 10px;
    padding: 5px;
    width: 80%;
}

header{
    width: 80%;
    float: right;
    box-sizing: border-box;
    border-bottom: 3px solid #FF5500;
    padding: 20px;
    position: relative;
}

header h1 {
    padding: 10px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 36px;
}

header img {
    float: right;
}

#trackgenix-info div{
    width: 50%;
    margin: 20px;
    display: inline-block;
    text-align: center;
}

#trackgenix-info div p{
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

#trackgenix-info img{
    float: right;
    position: absolute;
    right: 150px;
    top: 20px;
    height: auto;
}