.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
    border-bottom: 3px solid #FF5500;
}

#navToggle {
    color: #FF5500;
    cursor: pointer;
}


header {
    width: 100%;
}

.flex-nav {
    display: flex;
    flex-direction: column;
}


.company-name {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    align-items: center;
}
