#trackgenix-info, #functionalities, #history {
    display: flex;
    flex-direction: column;
}

/* start trackgenix inf section  */
#trackgenix-info {
    margin-top: 50px;
    border-bottom: 2px solid #C4C4C4;
    justify-content: center;
}

.img-content1 {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.img-content1 img {
    width: 80%;
    height: auto;
    border-radius: 5%;
    align-self: center;
}

.info-content1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.info-content1 h2 {
    margin-top: 20px;
}

.info-content1 p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 30px;
    padding: 20px;
}

/* tablet and desktop version */
@media screen and (min-width: 1024px) {
    #trackgenix-info {
        flex-direction: row-reverse;
        padding: 20px 0 20px 0;
        margin: 20px 0 20px 0;
    }
    .info-content1 {
        flex-basis: 40%;
        text-align: left;
    }

    .info-content1 p {
        padding: 0;
    }

    .img-content1 {
        flex-direction: row-reverse;
        flex-basis: 40%;
        margin-bottom: 40px;
        margin-left: 20px;
    }

    .img-content1 img {
        width: 100%;
    }
}

/* start functionalities section */
#functionalities {
    border-bottom: 2px solid #C4C4C4;
    margin-top: 50px;
}

#functionalities h2 {
    margin-bottom: 10px;
    padding-left: 30px;
}

.func-content2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.function {
    width: 350px;
    padding: 10px;
}

.function i {
    font-size: 30px;
}

.func-text p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 20px;
}

/* tablet version */
@media screen and (min-width: 768px) {
    .function {
        margin-left: 10px;
    }

    .function i {
        font-size: 50px;
    }

    .func-text p {
        font-size: 16px;
    }
}

/* desktop version */
@media screen and (min-width: 1024px) {
    #functionalities {
        margin: 40px 10px 40px 10px;
    }

    .func-content2 { 
        flex-basis: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .function {
        display: flex;
        flex-direction: row;
        flex: 40%;
        margin: 10px;
        padding: 10px;
    }

    .function i {
        font-size: 40px;
    }
    
    .func-text {
        margin-left: 10px;
    }

    .func-text p {
        font-size: 16px;
    }
}

/* start why trackgenix section */
#why-trackgenix {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid #C4C4C4;
}

.why-content3 {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.img-content3 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.img-content3 img {
    width: 90%;
    height: auto;
    border-radius: 5%;
    align-self: center;
}

.list-content3 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    text-align: left;
    margin-left: 40px;
}

.list-content3 h2 {
    margin-top: 20px;
}

.list-content3 li {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
}

.list-content3 .button {
    width: 110px;
    margin-top: 5px;
    margin-bottom: 30px;
}

/* tablet and desktop version */
@media screen and (min-width: 1024px) {
    .why-content3 {
        flex-direction: row-reverse;
        padding: 20px;
    }

    .img-content3 {
        margin: 10px 20px;
        align-self: center;
    }

    .img-content3 img {
        width: 100%;
        margin-bottom: 50px;
    }

    .list-content3 {
        margin: 10px 20px;
        padding-left: 20px;
    }

    .list-content3 h2 {
        margin-top: 0;
    }
}

/* start help section */
#help {
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #C4C4C4;
}

.help-content4 {
    margin: 20px 20px;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    text-align: left;
}

.help-content4 .form-group {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding-bottom: 10px;
    margin-top: 20px;
}

.form-group .fill, select, textarea {
    padding: 8px;
}

.button-content4 {
    display: flex;
    justify-content: space-between;
}

.button-content4 .dif {
    width: 170px;
    height: 46px;
    background-color: #ff5500;
    color: #fff;
}

.button-content4 .dif:hover {
    background-color: #fff;
    color: #ff5500;
    border: 1px solid #ff5500;
}

.button-content4 .btn {
    width: 110px;
    height: 46px;
}

/* tablet and desktop version */
@media screen and (min-width: 768px) {
    .cont-fill {
        display: flex;
        flex-direction: row;
    }
    .cont-fill .fill {
        margin-right: 10px;
    }
    .button-content4 {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .button-content4 .button {
        margin-right: 50px;
    }
}

/* start our history section */
.history-img {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    align-items: center;
}

.history-img img {
    width: 90%;
    padding-bottom: 20px;
}

.history-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: left;
    padding: 15px;
}

/* tablet version */
@media screen and (min-width: 768px) {
    .history-info {
        padding-left: 30px;
        padding-right: 30px;
    }
    .history-img {
        align-self: center;
    }
}

/* desktop version */
@media screen and (min-width: 1024px) {
    #history {
        flex-direction: row;
        justify-content: center;
        margin: 50px;
    }

    .history-img {
        flex-direction: column;
        flex-basis: 60%;
    }

    .history-img img {
        width: 100%;
    }

    .history-img h2 {
        margin-bottom: 20px;
    }

    .history-info {
        flex-direction: row;
        flex-basis: 40%;
        padding-top: 70px;
    }
}

